/* :root {
    --color-button-primary-focus: #c6c6c6 !important;
} */

.mega-subtitle, .mega-title {
    text-shadow: none;
}

.mega-subtitle, .mega-title {
    text-shadow: none !important;
}

.btn {
    transition: all .3s ease-out !important;
}

.btn:hover {
    background-color: #c6c6c6 !important;
    color: #000 !important;
}

.btn--outline {
    background-color: #fff !important;
    color: #000 !important;
    border: 2px solid #c6c6c6 !important;
}

.btn--outline:hover {
    background-color: #c6c6c6 !important;
    color: #000 !important;
    border: 2px solid transparent !important;
}

.site-header {
    padding: 15px 0 !important;
}

.site-nav {
    font-size: 13px;
    font-weight: 500;
    background-color: #c6c6c6;
    margin: 0 !important;
}

.site-nav--centered {
    padding-bottom: 0 !important;
}

.site-nav a {
    padding: 12px 22px !important;
    font-weight: bold !important;
}

.site-nav--active:last-child a {
    color: #c9310c !important;
}

.site-nav__link {
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.site-nav__label {
    border-bottom: 0 !important;
}

.section-header {
    margin-bottom: 50px !important;
}

.section-header > h1, .section-header > h2 {
    font-size: 36px !important;
    text-transform: initial !important;
    margin-bottom: 25px;
    letter-spacing: initial !important;
    line-height: 46.8px !important;
}

.section-header > h1:after, .section-header > h2:after {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    margin: 15px auto 0;
    background-color: #000;
}

.featured-products .btn {
    min-width: 225px;
}

.site-footer__content {
    align-items: stretch !important;
}

.site-footer__item {
    /* border-bottom: 1px solid #eee !important; */
    padding: 25px 20px !important;
}

.site-footer__linklist-item a {
    font-weight: 300 !important;
    font-size: 13px !important;
    line-height: 1.8 !important;
}

.site-footer__title {
    -webkit-column-span: all !important;
    column-span: all  !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    letter-spacing: 1.5px !important;
    margin: 0;
    cursor: pointer;
    font-family: sans-serif !important;
}

.search-header {
    color: #000;
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 285px;
    vertical-align: middle;
    outline: none;
    border: 1px solid #eee;
    cursor: auto;
}

.search-header__input {
    border: none;
    padding-right: 35px;
    width: 100%;
    min-height: 45px;
}

.search-header__submit {
    padding-right: 12px !important;
    pointer-events: auto;
    display: inline-block;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 0 0 5px;
    height: 100%;
    z-index: 1;
}

.grid-header {
    display: flex !important;
    align-items: center;
    width: 100%;
    padding: 0 30px;
}

.grid-header__item {
    flex-basis: 100%;
}

.grid-view-item__title {
    font-size: 13px !important;
    line-height: 18px !important;
    margin: 8px 0 0 !important;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 300 !important;
    text-align: center;
}

.price {
    align-items: center !important;
}

@media only screen and (min-width: 990px) {
    .site-header__mobile-nav {
        padding: 0 30px !important;
    }
    .site-footer__item {
        padding: 25px 40px !important;
    }
}

@media only screen and (min-width: 769px) {
    .site-footer__item:not(:last-child) {
        border-right: 1px solid #eee !important;
    }
    .site-footer__title {
        margin: 0 0 15px !important;
    }
}

@media only screen and (min-width: 750px) {
    .site-footer__item {
        margin-bottom: 0 !important;
    }

    .site-footer__hr {
        margin: 0px 0 20px 0 !important;
    }
}
